/* Elements html globaux */

body {
    font-family: 'droid', Arial, sans-serif;
    color: #004C59;
    text-rendering: optimizeLegibility;
}

canvas {
        display: inline;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 80%;
        height: 100%;
        -webkit-transition : -webkit-filter 0.2s;
        -moz-transition : filter 0.2s ;
        -o-transition : -webkit-filter 0.2s ;
 }

a {
    color: #004C59;
    text-decoration: none;
}
a:hover {
    opacity: 0.8 ;
}

p {
    text-align : justify;
    padding: 2px ;
}


/* Volet de navigation et tooltips associés */
.box {
	width:20%;
	height:100%;
	position:fixed;
	display: inline;
	top:0px;
	left:80%;
	overflow-x: auto;
  	overflow-y: auto;
  	background:#FFD6DD;
  	box-shadow: 0 0 20px rgba(0,76,89,.30);
  	z-index:5;
}


#liensVersions {
    width:180px;
    font-family: 'droid', Arial, serif ;
    margin : 10px auto ;
}
#Uk {
    position : absolute ;
    right : 10px ;
    background : url('Images/ukflag.jpg') no-repeat top left ;
    width : 40px ;
    height : 30px ;
}
#Uk:hover {
    right : 8px ;
}
nav {
	font-family: 'droid-bold', Arial, sans-serif;
    color: #0E5348;
	width:180px;
	text-align:left;
}

nav ul {
    list-style-type: none;
}

nav a, footer a {
	color: #0E5348;
    text-decoration: none;
    transition: all .1s ease;
    -webkit-transition : all .1s ease ;
    -moz-transition : all .1s ease ;
    -o-transition : all .1s ease ;
}

nav a:hover, footer a:hover, #toolFilms p a:hover,#toolContact p a:hover, #filmList:hover, #sourceDonnees:hover, #auteurs:hover {
   color: #107671;
   cursor: pointer;
   padding-left: 5px;
}

#toolIfop p a:hover, #lienArticles:hover {
    color: #107671;
    cursor: pointer;
}

nav ul li {
    display: block ;
    padding : 10px 10px ;
}


#buttons {
    width : 180px ;
    margin : 40px 0px 30px 30px ;
}

#buttons img {
width: 27px;
padding: 1px;
border: 0;
box-shadow: 0;
display: inline;
}
/* Footer */

footer {
    padding-top: 10px;
    margin-top : 50px ;
    margin-right: 2px;
    margin-left: 30px;
    display: block;
    width:180px;
    font-size : 0.8em;
    font-family: 'droid-bold';
}

footer ul {
    list-style-image: url('Images/coeur.png') ;
}

/* Fin footer */


/* Identités du corps de document */
#banniere {	
	font-family: 'poetsen', serif;
    position:absolute;
	font-size: 2em;
    right:24%;
    top:70%;
	line-height: 1.2em;
	text-align: left;
}

#corps {
	display:block;
	position:relative;
	width : 70% ;
    margin-top : 105%;
	margin-right:auto;
	margin-left:4%;
	background:#FFFFFF;
	overflow-x:auto;
}

#pIntro {
    padding-top:50px;
    padding-bottom:0px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
}

#imgIntro {
    margin : 0 auto ;
    position : relative ;
    width : 100% ;
    height : 400px ;
    background: url('Images/capotes.jpg') no-repeat center center;
}

#buttonOpen {
    background: url('Images/arrow-down.png') no-repeat top center ;
    width: 30px;
    height: 30px;
    z-index: 3;
    position: absolute ;
    top: 90%;
}
#buttonOpen:hover {
    opacity: 0.5;
}

h1 {
    font-family: 'poetsen', 'Gill Sans', Arial, sans-serif;
    display: inline-block;
	font-size: 2.5em;
	text-align: center;
    position: absolute;
    margin : 0 ;
    padding : 0 ;
    top:0px;
    left:15%;
    width:70%;
    color: #004C59;
}

h1:hover {
    opacity:0.8;
	transition: all .1s ease ;
    -webkit-transition : all .1s ease ;
    -moz-transition : all .1s ease ;
    -o-transition : all .1s ease ;
}

h2 {
	font-family: 'raleway','Gill Sans', serif;
	font-size: 1.8em;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 50px;
	color: #0E5348;
	position: relative;
    transition : all 2s ease ;
    -webkit-transition : all 2s ease ;
    -moz-transition : all 2s ease ;
    -o-transition : all 2s ease ;
}

#bonusNathan {
    width : 200px ;
    margin : 40px auto 20px auto ;
}



/* Identités pour les graphiques et autres animations */
#listePam {
    position: relative ;
    height : 80px ;
    transition : height 1s ease;
    -webkit-transition : height 1s ease;
    -moz-transition : height 1s ease ;
    -o-transition : height 1s ease ;
}

#liensPam p {
    width : 700px ;
    text-align : left ;
    margin : 40px auto ;
}

#liensPam p a:hover {
    padding-left : 10px ;
    transition : all 0.3s ease ;
    -webkit-transition : all 0.3s ease ;
    -moz-transition : all .3s ease ;
    -o-transition : all .3s ease ;
}

#gauge {
    width: 400px;
    height: 400px;
    margin: 0 auto ;
}

#titreGateries {
    height : 50px ;
    position : relative ;
    transition: height 0.5s ease-in ;
    -webkit-transition : all 0.5s ease-in ;
    -moz-transition : all .5s ease ;
    -o-transition : all .5s ease ;
}

#videoPipe, #videoBarney {
    display : block;
    margin : auto ;
    visibility: visible;
    opacity : 0 ;
    transition : opacity 1s ease-in ;
    -webkit-transition : opacity 1s ease-in ;
    -moz-transition : opacity 1s ease-in ;
    -o-transition : opacity 1s ease-in ;
}

#titreGaterieSpan:hover { cursor: pointer }
#spanBarney:hover {
    cursor : pointer ;
    font-weight : 600 ;
}

#pBarney {
    height : 100px ;
    position : relative ;
    transition: height 0.5s ease-in ;
    -webkit-transition : all 0.5s ease-in ;
    -moz-transition : all .5s ease ;
    -o-transition : all .5s ease ;
}


#treemap {
    width:600px;
    height:300px ;
    margin : 0 auto ;
}


/* Identités pour l'animation tooltip */
#toolFilms, #toolIfop, #toolContact, #toolAurevoir {
    opacity : 0 ;
    padding : 10px 20px 10px 20px ;
    position: fixed;
    color : rgb(255,255,255) ;
    background-color : rgba(30,30,30,0.8) ;
    box-shadow: 0 0 20px rgba(0,0,0,0.8) ;
    z-index: -1 ;
    transition: all 1s ;
    -webkit-transition : all 1s ;
    -moz-transition : all 1s ;
    -o-transition : all 1s ;
}

#toolAurevoir {
    width : 600px ;
    left : 25% ;
    top : 5% ;
}

#toolFilms, #toolContact {
    width : 340px ;
    left : 90%  ;
    top : 90% ;
}

#toolIfop {
    width : 250px ;
    left : 60%;
    top : 40%;
}

#toolFilms p {
    text-align : center ;
}

#toolIfop p, #toolContact p {
    text-align : left ;
}

#toolFilms p a, #toolIfop p a, #toolContact p a, .tooltip a {
    color : rgb(180,180,180) ;
}

#fenetreBlur {
    background: url('Images/filtre.png') no-repeat center center ;
    background-size : cover;
    position : fixed ;
    top : 0px ;
    left : 0px ;
    opacity : 0 ;
    width: 100% ;
    height: 100% ;
    z-index: -1 ;
    transition: opacity 0.5s ;
    -webkit-transition : opacity 0.5s ;
    -moz-transition : opacity 0.5s ;
    -o-transition : opacity 0.5s ;

}

.tooltip {
    font-family: 'Gill Sans' ;
    opacity : 0 ;
    position : absolute ;
    top : -20px ;
    left : 70% ;
    background-color: rgba(30,30,30,0.9) ;
    box-shadow: 0 0 10px rgba(0,0,0,0.6) ;
    color : rgb(255,255,255) ;
    padding : 10px 7px ;
}



/* Classes de mise en forme */
.buttonUp,.buttonDown,.bullet {
    position:absolute;
    left: 95%;
    width: 20px;
    height: 20px;
}
.buttonUp {
    background: url('Images/arrow-up.png') no-repeat top center ;
    top: 10px;
}
.buttonDown {
    background: url('Images/arrow-down.png') no-repeat top center ;
    top: 60px;
}
.bullet {
    background: url('Images/bullet.png') no-repeat top center ;
    top : 35px;
}

.following {
    background: url('Images/arrow-down.png') no-repeat top center ;
    width: 20px;
    height: 20px;
    margin: 10px auto ;
    opacity: 60%;
}

.goodbye {
    background : url('Images/stop.png') no-repeat center bottom ;
    background-size : contain ;
    width: 25px;
    height: 25px;
    margin: 20px auto 50px auto ;
    opacity: 60%;
}
.buttonDown:hover,.buttonUp:hover,.bullet:hover,.following:hover,.goodbye:hover {
    opacity: 0.5;
}

.goodbye:hover {
    cursor: pointer ;
}

.bloc_histoire {
    position:relative;
    width:100%;
    background: #FFFFFF;
    margin: 0px auto 0px auto ;
    padding : 20px 0px 200px 0px ;
}
.bloc_histoire:nth-of-type(1) {
    background: linear-gradient(white,rgba(255,255,255,0),white),url('Images/LME.jpg') no-repeat right center fixed ;
    background-size : cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.bloc_histoire:nth-of-type(2) {
    background: linear-gradient(white,rgba(255,255,255,0),white),url('Images/priest2.jpg') no-repeat center center fixed ;
    background-size : cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.bloc_histoire:nth-of-type(3) {
    background: linear-gradient(white,rgba(255,255,255,0),white), url('Images/blueV.jpg') no-repeat center center  fixed  ;
    background-size : cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.bloc_histoire:nth-of-type(4) {
    background: linear-gradient(white,rgba(255,255,255,0),white),url('Images/titanic.jpg') no-repeat center center fixed ;
    background-size : cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.bloc_histoire:nth-of-type(5) {
    background: linear-gradient(white,rgba(255,255,255,0),white),url('Images/AHX.jpg') no-repeat center center fixed ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bloc_histoire:nth-of-type(6) {
    background: linear-gradient(white,rgba(255,255,255,0),white),url('Images/EWS.jpg') no-repeat center center fixed ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bloc_histoire:nth-of-type(7) {
    background: linear-gradient(white,rgba(255,255,255,0),white),url('Images/VCB.jpg') no-repeat center center fixed ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bloc_histoire:nth-of-type(8) {
    background: linear-gradient(white,rgba(255,255,255,0),white),url('Images/HEM.jpg') no-repeat center center fixed ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.titre_image {
    position:relative;
    width:100%;
    margin: 0 auto 10px auto;
    display: block;
    min-height: 100px;
}


.pPleinePage, .commentaire p {
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
}

.hidden {
    color:#FFFFFF;
    opacity : 0 ;
    transition : all 0.2s ease ;
    -webkit-transition : all 0.2s ease ;
    -moz-transition : all 0.2s ease ;
    -o-transition : all 0.2s ease ;

}
.hidden:hover {
    color:#0E5348;
    opacity:0.2;
}
.emph { 
	color: #0092B9;
}
.chiffre {
    color: #CBA148; 
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.emph:hover,.chiffre:hover {
	opacity:0.8;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
}
.lienCache {
    text-decoration: none ;
    color: #004C59 ;
    cursor:pointer;
}
.lienCache:hover {    
    opacity : 1
}


/* Classes pour le script quizz */

.fenetre {
    position:relative;
    display:block;
    width: 100%;
    margin: 10px auto 30px auto;
}
.infographie {
    display:block;
    width : 100%;
    padding : 0px 0px ;
    margin : 20px 0px 0px 0px ;
    filter: blur(15px) grayscale(80%) opacity(40%);
    -webkit-filter: blur(15px) grayscale(80%) opacity(40%);

    -webkit-transition : -webkit-filter 2s ;
    -moz-transition : filter 2s ;
    -o-transition : -webkit-filter 2s ;

}
.commentaire {
    display:block;
    text-align : justify;
    padding : 0px 0px ;
    margin : 10px auto ;
    filter: blur(15px) grayscale(80%) opacity(40%);
    -webkit-filter: blur(15px) grayscale(80%) opacity(40%);
    
    -webkit-transition : -webkit-filter 1s ;
    -moz-transition : filter 1s ;
    -o-transition : -webkit-filter 1s ;

}
.fenetreQuestion {
    display:block;
    position:absolute;
    top : 10%;
    left: 15%;
    width: 70%;
    font-family: 'droid-bold';

    -webkit-transition : -webkit- filter 2s ;
    -moz-transition :  filter 2s ;
    -o-transition : -webkit- filter 2s ;
    
}
.question{
    text-align:center;
    margin : 20px auto 20px auto;
    width:70%;
}
.reponseV,.reponseF {
    width: 50%;
    margin: 20px auto 10px auto ;
    text-align:center;
}
.reponseV:hover,.reponseF:hover {
    padding-left:5px;
    font-weight: 600;
    cursor:pointer;
}

#quizz1 .infographie {
    width : 600px ;
    margin : 0px auto ;
}

#quizz2 .fenetreQuestion {
    width : 90% ;
    left: 5%
}
#quizz2 .infographie {
    padding : 0 ;
    width: 400px;
    height: 400px;
    margin : 0px auto ;
}
#quizz2 .commentaire{
    padding : 5px 10px ;
}

#infographiePam .commentaire, #infographiePam .infographie {
    -webkit-filter : none ;
    filter : none ;
}

#quizz6 .commentaire,#quizz6 .infographie {
    display:table-cell;
    width: 50% ;
    padding-top : 170px ;
    margin : 10px auto ;
    filter: blur(15px) grayscale(80%) opacity(40%);
    -webkit-filter: blur(15px) grayscale(80%) opacity(40%);
    -webkit-transition : -webkit-filter 1s ;
    -moz-transition : filter 1s ;
    -o-transition : -webkit-filter 1s ;
}

#quizz6 .infographie p {
    text-align: center ;
    padding : 10px 40px 20px 60px ;
}
#quizz6 .commentaire p {
    text-align: center ;
    padding : 10px 60px 20px 40px ;
}

#quizz6 .infographie {
    background: url('Images/cohab.png') no-repeat top center ;
}

#quizz6 .commentaire {
    background: url('Images/noncohab.png') no-repeat top center ;
}

#comLat {
    filter: blur(15px) grayscale(80%) opacity(40%);
    -webkit-filter: blur(15px) grayscale(80%) opacity(40%);
    -webkit-transition : -webkit-filter 1s ;
    -moz-transition : filter 1s ;
    -o-transition : -webkit-filter 1s ;
}
/* Script infographie cathos */

#chiffreInfoCathos {
    padding : 5px 5px ;
    margin : 15% auto 30px auto ;
    text-align : center ;
    font-family: 'droid-bold' ;
    font-size : 1.2em ;
}
.oui,.non {
    margin-right: 3px ;
    transition : all 0.2s ease ;
    -webkit-transition : all 0.2s ease ;
    -moz-transition : all 0.2s ease ;
    -o-transition : all 0.2s ease ;
}


/* Famille de fontes */

@font-face {
    font-family: 'poetsen';
    src: url('Police/PoetsenOne-Regular-webfont.eot');
    src: url('Police/PoetsenOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/PoetsenOne-Regular-webfont.woff') format('woff'),
         url('Police/PoetsenOne-Regular-webfont.ttf') format('truetype'),
         url('Police/PoetsenOne-Regular-webfont.svg#poetsenoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid-bold';
    src: url('Police/DroidSans-Bold-webfont.eot');
    src: url('Police/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/DroidSans-Bold-webfont.woff') format('woff'),
         url('Police/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('Police/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid';
    src: url('Police/DroidSans-webfont.eot');
    src: url('Police/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/DroidSans-webfont.woff') format('woff'),
         url('Police/DroidSans-webfont.ttf') format('truetype'),
         url('Police/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('Police/Raleway-Light-webfont.eot');
    src: url('Police/Raleway-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/Raleway-Light-webfont.woff') format('woff'),
         url('Police/Raleway-Light-webfont.ttf') format('truetype'),
         url('Police/Raleway-Light-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
